body{
margin: 0 auto;
    padding: 0;
}
#wrapper{
margin: 0 auto;
    padding: 0;
    width: 960px;
    position: relative;
    top: 200px;
    left: 200px;
}

#form-login{
    width: 60%;
    background: rgba(204, 204, 204, 0.31);
    padding: 3%;
	border-radius: 8px;

}